
.sg__title-main {
    font-size: 3rem;
}

.modules-section {
    font-size: 1.8rem;
    width: 100%;
}

.module-title {
    font-size: 1.5rem;
    display: block;
	margin-bottom: 10px;
    width: 100%;
}
