
.source-code {
    position: absolute;
    right: 0;
    top: 0;
	max-width: 1200px;
	z-index: 10;

    .sc__btn {
        cursor: pointer;
        opacity: 0.5;
		position: absolute;
		right: 0;
		top: 0;

        &:active,
        &:focus,
        &:hover {
            opacity: 1;
        }
    }

    .sc__textarea {
        display: none;
		min-height: 300px;
		position: relative;
		top: 21px;
        min-width: 300px;

        @at-root .source-code--opened .source-code .sc__textarea {
            display: block;
        }
    }
}
