
.styleguide-filters-tag {
	margin: 0 0 20px;
}

.module-tag-wrapper {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 10px 0;
    width: 100%;
}

.module-tag-title {
    font-size: 1rem;
    margin: 0 10px 10px 0;
}

.module-tag {
    background: #e6eaec;
    margin: 0 10px 10px 0;
    padding: 10px;
}
